.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;       
    margin-bottom: min(68px, max(44px, 44px + (100vw - 320px) * 0.02725));  /* Responsive margin-bottom */    
    padding: 0px min(10px, max(0px, 10px - (100vw - 1216px)));  /* Responsive padding */
}

.navbar a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
}

.navbar-brand {
    margin-right: auto;
    letter-spacing: 2px;
}

.navbar-burger-menu {    
    display: none;
}

.navbar-burger-menu > span {
    width: 100%;
    border: 2.67px solid #1a1a1a;
    border-radius: 2.67px;
    transition: all 0.3s ease-in-out;
}

/* Animation when active */
.navbar-burger-menu.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.navbar-burger-menu.active span:nth-child(2) {
    opacity: 0;
}

.navbar-burger-menu.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

/* End Animation when active */

.navbar-nav {
    list-style: none;
    display: flex;
    column-gap: 14px;
    margin-right: 14px;    
}

.navbar-nav > .nav-items {
    padding: 8px;
}

.navbar-toggle {    
    border: 0px;    
    position: relative;        
}

.navbar-toggle > input[type="checkbox"]{
    z-index: 2;
    height: 28px;
    width: 69px;    
    appearance: none;
    border-radius: 100px;
    background-color: #d9d9d9;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.3), inset 0px -5px 15px rgba(255,255,255,0.3);
}

.navbar-toggle > input[type="checkbox"]:checked{    
    background: linear-gradient(180deg,#777,#3a3a3a);
    box-shadow: inset 0px 0px 4px 1px rgb(0, 0, 0);
}

.navbar-toggle:has(input[type="checkbox"]:checked) > .image-container > .circle {    
    background: #242424;
    box-shadow: inset 0px 0px 2px .5px white, inset 0px 0px 0px 1px black, 0px 0px 5px .5px black;
    left: 42.5px;
}

.navbar-toggle > .image-container > .circle {
    position: absolute;
    width: 25px;
    height: 25px;    
    background: #fff;
    border-radius: 50%;
    z-index: 3;
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    cursor: pointer;
    box-shadow: inset 0px 0px 6px 1px white, inset 0px 0px 2px 1px black, 0px 0px 5px .5px white;    
    transition: all 500ms ease-in-out;
}

.navbar-toggle > .image-container > .sun-moon-container {
    position: absolute;
    height: 100%; 
    width: 100%;
    border-radius: 100px;
    top: -3px;
    z-index: 2;
    display: flex;
    justify-content: space-between;    
    margin-left: 3px;
    align-items: center;
}

.navbar-toggle > .image-container .moon {
    width: 20px;
    height: 20px;
    background-color: transparent;    
    border-radius: 50%;
    position: relative;    
    margin-left: 9px;
    box-shadow: -8px 2px 0px -2px white;
    margin-bottom: 3.5px;
}

.navbar-toggle > .image-container .sun {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    margin-right: 11.1px;
}

.navbar-toggle > .image-container .sun > .top, .right, .left, .bottom {
    display: inline-block;
    width: 6px;    
    height: 1px;    
    border-top: 1px solid white;
    position: absolute;
}

.navbar-toggle > .image-container .sun > .top-right, .top-left, .bottom-right, .bottom-left {
    display: inline-block;
    width: 4px;    
    height: 1px;    
    border-top: 1px solid white;
    position: absolute;
}

.sun-ray.top {
    top: -4px;
    right: 2px;
    transform: rotatez(90deg);
}

.sun-ray.bottom {
    bottom: -4px;
    right: 2px;
    transform: rotatez(90deg);
}

.sun-ray.right {
    right: -6.5px;
    top: 4px;
}

.sun-ray.left {
    left: -6.5px;
    top: 4px;
}

.sun-ray.top-right {
    transform: rotateZ(315deg);
    top: -1px;
    right: -2px;
}

.sun-ray.top-left {
    transform: rotateZ(225deg);
    top: -1px;
    left: -2px;
}

.sun-ray.bottom-right {
    transform: rotateZ(45deg);
    bottom: -1px;
    right: -2px;
}

.sun-ray.bottom-left {
    transform: rotateZ(135deg);
    bottom: -1px;
    left: -2px;
}


.navbar-toggle > .image-container > img {
    display: block;
    width: 96px;
    height: 40px; 
    object-fit: contain;    
    cursor: pointer;
}

/* Default: Show light mode image, hide dark mode */
#light-img {
    display: none;

}
#dark-img {
    display: block;
}

/* If dark mode is selected, show dark mode image */
#dark:checked ~ .image-container #light-img {
    display: none;
}
#dark:checked ~ .image-container #dark-img {
    display: block;
}

.darkmode .header-title {
    border-color: var(--text-color-darkmode);
}

.header-title {    
    line-height: normal;
    font-size: min(189px, max(48px, 48px + (100vw - 375px) * 0.17)); /* Responsive font size */
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border-top: 1px solid rgba(0, 0, 0, 0.34);
    border-bottom: 1px solid rgba(0, 0, 0, 0.34);
    /* margin-top: 50px; */
    text-align: center;
}

.nav-links.active {
    border-bottom: 1px solid black;    
}

.darkmode .nav-links.active {
    border-color: var(--text-color-darkmode);
}

@media (max-width: 833px) {
    .nav-links.active {    
        border-bottom: 0px;    
        border-left: 4px solid black;    
    }
    
    .darkmode .nav-links.active {
        border-color: var(--text-color-darkmode);
    }

    .navbar:has(.navbar-burger-menu.active) {
        position: relative;        
    }


    .navbar-toggle, .navbar-nav {
        display: none;
    }

    .navbar-brand{
        flex-basis: calc(100% - 150px);        
        line-height: 32px;
        margin-right: 0;
    }   

    .darkmode .navbar-burger-menu-wrapper:has(.navbar-burger-menu.active) {
        background-color: var(--bg-color-darkmode);
    }

    .darkmode .navbar-burger-menu.active span, .darkmode .navbar-burger-menu span {
        border-color: var(--text-color-darkmode)
    }

    .navbar-burger-menu-wrapper:has(.navbar-burger-menu.active) ~ .navbar-nav {       
        display: flex;
        border-radius: 0px 0px 0px 5px;
        order: 2;
        margin-left: auto;
        margin-right: 0;
        flex-direction: column;
        width: calc( 100% - 20px );                          
        place-content: end;
        place-self: end;
        place-items: start;
        position: absolute;
        top: 32.5px;
        right: 10px;
        z-index: 2;
        background-color: white;        
    }

    .navbar-burger-menu-wrapper:has(.navbar-burger-menu.active) ~ .navbar-nav .nav-links {
        display: block;
        width: 100%;
        padding: 4px 8px;
    }

    .navbar-burger-menu-wrapper:has(.navbar-burger-menu.active) ~ .navbar-nav > .nav-items {
        padding: 0;
        width: 100%;
    }

    /* Hover Effects */
    /* .navbar-burger-menu-wrapper:has(.navbar-burger-menu.active) ~ .navbar-nav .nav-links:hover,
    .navbar-burger-menu-wrapper:has(.navbar-burger-menu.active):hover,         
    .navbar-burger-menu-wrapper:has(.navbar-burger-menu.active):hover span{        
        background-color: black;
        color: white;
        border: 2.67px solid white;   
    } */
    /* End Hover Effects */

    .navbar-burger-menu-wrapper:has(.navbar-burger-menu.active) ~ .navbar-toggle {
        display: block  ;
        order: 1;
        flex-basis: 100%;        
        justify-items: end;                
        position: absolute;
        top: 0px;
        right: 10px;
        z-index: 2;
        border: 0;        
    }       
    
    .navbar-burger-menu-wrapper:has(.navbar-burger-menu.active) ~ .navbar-toggle > .image-container > img {
        height: 28px;
    }

    .navbar-burger-menu-wrapper:has(.navbar-burger-menu.active) {
        position: absolute;
        right: 10px;
        top: 0;
        border-radius: 5px 0px 0px 0px;
        border-right: 0;
        margin-right: auto;
        width: calc( 100% - 20px);
        padding-left: 8px;               
        background-color: white;        
    }

    .navbar-burger-menu.active > span {        
        border: 2.67px solid black;        
        transition: all 0.3s ease-in-out;
    }

    .navbar-burger-menu {        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;        
        height: 32px;
        width: 32px;
        cursor: pointer;
    }      
}