/* CSS Resets */
section.blog-posts img {
    display: block;
}

/* End CSS Resets */

/* First Level Flex */
section.blog-posts {
    display: flex;
    flex-wrap: wrap;
}

section.blog-posts > .blog-posts-header {
    flex: 1 1 100%;
}

section.blog-posts > .blog-preview-1 {
    flex: 1 1 592px;
}

section.blog-posts > .blog-preview-2 {
    flex: 1 1 592px;
}

section.blog-posts > .blog-preview-3 {
    flex: 1 1 100%;
}
/* End First Level Flex */

/* Second Level Flex */

section.blog-posts > .blog-preview-2 {
    display: flex;
    flex-direction: column;
}

section.blog-posts > .blog-preview-3 {
    display: flex;
}

/* End Second Level Flex */

/* Third Level Flex */
figure.postContainer {
    display: flex;
    flex-wrap: wrap;
}

.blog-preview-1 figure.postContainer > div.postImg-wrapper {
    flex: 1 1 592px;
}

.blog-preview-2 figure.postContainer > div.postImg-wrapper {
    flex: 1 1 320px;
}

.blog-preview-3 figure.postContainer > div.postImg-wrapper {
    flex: 1 1 592px;
}

.blog-preview-2 figure.postContainer > div.postDetails {
    flex: 1 1 228px;
}

.blog-preview-3 figure.postContainer > div.postDetails {
    flex: 1 1 592px;
}

figure.postContainer > div.postImg-wrapper > img {
    width: 100%;
    height: auto;
}
/* End Third Level Flex */



/* Temporary CSS */

section.blog-posts, section.blog-posts > * {
    border: 1px solid red;
}

section.blog-posts img {
    /* object-fit: contain;
    height: 228px; */
    /* display: none; */
}