/* CSS Resets */
section.blog-posts img {
    display: block;
}
/* End CSS Resets */

/* Section Parent CSS */
section.blog-posts {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0px min(10px, max(0px, 10px - (100vw - 1216px)));  /* Responsive padding */
}
/* End Section Parent CSS */

/* First Level Flex */
section.blog-posts {
    display: flex;
    flex-wrap: wrap;    
    column-gap: 28px;
    row-gap: 30px;
}

section.blog-posts > .blog-posts-header {
    flex: 1 1 100%;
}

section.blog-posts > .blog-preview-1 {
    flex: 1 1 592px;
}

section.blog-posts > .blog-preview-2 {
    flex: 1 1 592px;
}

section.blog-posts > .blog-preview-3 {
    flex: 1 1 100%;
    margin-top: 30px;
}

section.blog-posts > .blog-preview-all {
    flex: 1 1 100%;
}
/* End First Level Flex */

/* Second Level Flex */

section.blog-posts > .blog-preview-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 32px;
}

section.blog-posts > .blog-preview-3 {
    display: flex;
}

section.blog-posts > .blog-preview-all {
    display: flex;
    flex-wrap: wrap;
    column-gap: max(16px, min(32px, 16px + (100vw - 834px) * .15)); /* 32px and 16px*/
    row-gap: 48px;
    justify-content: space-between;
}

/* End Second Level Flex */

/* Third Level Flex */
section#recent-blog-posts figure.postContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 32px
}

section#all-blog-posts figure.postContainer {
    flex: 1 1 384px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    column-gap: 24px;
    row-gap: 32px
}

.blog-preview-1 figure.postContainer > div.postImg-wrapper {
    flex: 1 1 592px;
    height: 228px;
}

.blog-preview-2 figure.postContainer > div.postImg-wrapper {
    flex: 1 1 320px;
    height: 200px;
}

.blog-preview-3 figure.postContainer > div.postImg-wrapper {
    flex: 1 1 592px;
    height: 246px;
}

.blog-preview-all figure.postContainer > div.postImg-wrapper {
    height: 240px;
}

.blog-preview-1 figure.postContainer > div.postDetails {
    flex: 1 1 592px;
}

.blog-preview-2 figure.postContainer > div.postDetails {
    flex: 1 1 228px;
}

.blog-preview-3 figure.postContainer > div.postDetails {
    flex: 1 1 592px;
}

figure.postContainer > div.postImg-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* End Third Level Flex */

/* Fourth Level Flex */
div.postDetails {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    row-gap: 12px;  
    overflow: hidden;    
}

div.postDetails > .postDesc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
}

div.postDetails > .postLocation > img {
    display: inline;    
    margin-left: 10px;
    transform: rotateZ(125deg);    
}
/* End Fourth Level Flex */