/* CSS Resets */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CSS Custom Styles */

#root {
    max-width: 700px;
    min-height: 704px;    
    margin: auto;
    box-shadow: 0px 0px 10px 1px black;
    font-family: "Inter", serif;
}

.header {
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7px;
    padding: 10px;
    color: white;
    height: 55px;
}

.header > h1 {    
    font-weight: 500;
    font-size: 14.46px;
    letter-spacing: -.075em;
}

.header > img {
    width: 24px;
    height: 24px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 18px;
    padding: 45px 40px 28px 40px;    
    max-width: 600px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.postContainer {
    /* border: 1px solid red; */
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 19px;
    /* max-height: 168px; */
    /* max-width: 470px;     */
    text-overflow: ellipsis;
    text-align: justify;
}

.postContainer > img {
    max-width: 125px;
    height: 168px;
}

.postDetails {
    max-width: 345px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 0px 12px 0px;
}

.postLocation {
    font-weight: 400;    
    font-size: 10.24px;
    letter-spacing: .17em;
    display: flex;
    align-items: center;
}

.postLocation > img {
    width: 7px;
    height: 9.55px;
    margin-right: 4px;
}

.postLocation > a {
    margin-left: 12px;
    color: #918E9B;
    letter-spacing: 0;
    line-height: 13px;
}

.postTitle {
    margin-top: 4px;
    margin-bottom: 17px;        
    font-weight: 700;    
    font-size: 25px;    
}

.postDate {
    font-weight: 700;    
    font-size: 10.24px;    
    line-height: 11px;
    margin-bottom: 9px;
}

.postDesc {
    font-weight: 400;    
    font-size: 10.24px;    
    line-height: 1.5em;
}

hr {    
    height: 1.5px;
    width: 100%;
    background-color: #F5F5F5;        
    border: none;   
}

hr:last-child {
    display: none;
}