/* CSS Resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    /* border: 1px solid red; */
}

/* Declare CSS Variables */
:root {
    --text-color: black;
    --bg-color: white;
    --text-color-darkmode: white;
    --bg-color-darkmode: #090D1F;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* CSS Custom Styles */
#root {
    margin: 0 auto;
    max-width: 1216px;
    line-height: 24px;
    font-family: Inter, 'Times New Roman', Times, serif;
}

.darkmode, 
.darkmode *:not(fieldset.navbar-toggle, fieldset.navbar-toggle *) {
    background-color: var(--bg-color-darkmode);
    color: var(--text-color-darkmode);
}

.darkmode fieldset.pagination .pagination-item.active {
    background-color: #7F56D9;
}

