/* CSS Resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    /* border: 1px solid red; */
}

/* Declare CSS Variables */
:root {
    --text-color: black;
    --bg-color: white;
}

body {
    background-color: var(--bg-color);
}

/* CSS Custom Styles */
#root {
    margin: 0 auto;
    max-width: 1216px;
    line-height: 24px;
    font-family: Inter, 'Times New Roman', Times, serif;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px 50px 0px;    
    padding: 10px 0px;   
}

.navbar a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
}

.navbar-brand {
    margin-right: auto;
    letter-spacing: 2px;
}

.navbar-burger-menu {    
    display: none;
}

.navbar-burger-menu > span {
    width: 100%;
    border: 2.67px solid #1a1a1a;
    border-radius: 2.67px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    column-gap: 14px;
    margin-right: 14px;    
}

.navbar-nav > .nav-items {
    padding: 8px;
}

.navbar-toggle {    
    border: 0px;    
}

.navbar-toggle > input[type="radio"]{
    display: none;
}

.navbar-toggle > .image-container {
    position: relative;    
    /* border: 1px solid red;    */
    height: 100%;
    display: flex;
    align-items: center;    
}

.navbar-toggle > .image-container > img {
    display: block;
    width: 96px;
    height: 40px; 
    object-fit: cover;    
}

/* Default: Show light mode image, hide dark mode */
#light-img {
    display: none;

}
#dark-img {
    display: block;
}

/* If dark mode is selected, show dark mode image */
#dark:checked ~ .image-container #light-img {
    display: none;
}
#dark:checked ~ .image-container #dark-img {
    display: block;
}

.header-title {    
    line-height: normal;
    font-size: clamp(60px, 8vw + 1em, 189px); /* 60px, 124px, 189px */
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-top: 50px;
    text-align: center;
    /* padding: 0px 10px; */
}

@media (max-width: 833px) {
    .navbar {
        padding: 0px 10px;
    }
    
    .navbar-nav, .navbar-toggle {
        display: none;
    }
    
    .header-title {
        font-size: 57px;
        padding: 0px 10px;        
    }

    .navbar-burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;        
        height: 32px;
        width: 32px;
    }
}

@media (max-width: 1216px) {
    .navbar {
        padding: 0px 10px;
    }

}